*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root{

    font-size: 62.5%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    
    --main-font-color: #fff;
    --main-hover-color: #678be5;


}

body{
    font-size: 1.6rem;
    
}

div#app{
    display: flex;
    flex-direction: column;
    /* max-width: 40rem; */
    min-height: 100vh;
    margin: 0 auto;
    background: linear-gradient(to bottom, #001F3F, #000000); /* Cores: azul escuro, preto */
}

div#app nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

i.ph-list{
    font-size: clamp(3.2rem, 1vw + 2rem, 4.8rem);
    color: var(--main-font-color);

    cursor: pointer;
}

div.menu-desktop{
    display: none;
}

section.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

section.content h1{
    font-size: clamp(3rem, 2vw + 2rem, 4.8rem);
    color: var(--main-font-color);
  }



section.content:not(.description) {
    gap: 10rem;
}

section.content.description {
    gap: 4rem;
}




/* Home Page */
section.content button.more-info{


    padding: 1.2rem 3.2rem;

    line-height: 2.4rem;
    font-size: clamp(1.2rem , 1vw + .5rem , 1.8rem);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--main-font-color);

    border-radius: .6rem;
    border: 1px solid white;
    background: transparent;

    cursor: pointer;

}

/* Universe Page && Exploration Page */

section.content div.description{
    color: var(--main-font-color);
    text-align: justify;

    font-size: clamp(1.2rem, 1vw + 1rem, 1.8rem);
    line-height: 160%;
    
}

/* Desktop layout */

@media(min-width:770px){
    div#app{
        background-image: url(../img/home-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    div#app.universe{

        background-image: url(../img/universo-bg.png) !important;
    }

    div#app.exploration{

        background-image: url(../img/explore-bg.png) !important;
    }


    .mobile{
        display: none;
    }

    div.menu-desktop{
        display: flex;
        gap: 3.2rem;

        list-style: none;
        

    }

    div#app nav ul{
        justify-content: flex-start;
        gap: 3.2rem;
    }

    div.menu-desktop a{
        text-decoration: none;
        font-size: clamp(1.8rem, 1vw + 1rem, 2.2rem);
        color: var(--main-font-color);

        transition: 0.5s ease-in-out;
    }

    div.menu-desktop a:hover{
        color: var(--main-hover-color) ;
    }


    /* Home page Desktop */

    section.content button.more-info{
        margin-bottom: 10rem;
    }

    section.content.desktop{

        padding: 10rem;

        justify-content: flex-start;
        align-items: flex-start;
    }
    
    section.content.desktop div.description{

        width: 50%;
    }

}