*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Vendor prefixes para suavização das fontes na tela  */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

/* Root element */
:root{
    /* 1rem === 10px */
    font-size: 62.5%;
    --main-color: #f231a5;
    --color-dark-gray: #808080;

}

body{
    /* Back body font-size to standard */
    font-size: 1.6rem;
}


div#app{
    height: 100vh;
    grid-template-rows: max-content 1fr max-content;
    display: grid;
    background: var(--main-color);
    
}



div#app > *{
    border: 1px solid red;
    
}

.container{
    padding: 1.6rem 3.2rem;
    width: min(112rem ,100%);
    margin: 0 auto;
 
    
}

main{
    background-color: aqua;
    /* Controla o trasbordamento de conteúdo no eixo vertical */
    overflow-y: scroll;
}
