*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Vendor prefixes para suavização das fontes na tela  */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

/* Root element */
:root{
     /* Variaveis CSS */

     --header-nav-font-color: #8D8D99;
     --header-input-font-color: #3d3d3d;
     --header-input-back-color: #EEEEEE;
    
     --main-back-color: #F5F5F5;
     --main-font-color: #202024; 

     --footer-font-color: #323238;

    /* 1rem === 10px */
    font-size: 62.5%;
    font-family: "Mulish", "Arial";
    color: var(--main-font-color);

    

}

body{
    /* Back body font-size to standard */
    font-size: 1.6rem;
}


div#app{
    height: 100vh;
    grid-template-rows: max-content 1fr max-content;
    display: grid;
   
}



div#app > *{
    border: 1px solid red;
    
}

div#app header, 
nav, 
nav ul{
    display: flex;
    align-items: center;
    gap: 7.2rem;
    list-style: none;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 160%;
    color: var(--header-nav-font-color);
}


div#app nav ul li.active{
    color: var(--main-font-color);
}


div#app header form{
    flex: 1;
}



div#app header form div.input-wrapper label{
    position: absolute; 
    overflow: hidden;
    width: 1px;
    height: 1px;
}


div#app header form div.input-wrapper input{
    min-width: 100%;

    padding: 1.6rem;

    font-family: "Mulish", "Arial";

    
    border: none;
    border-radius: 0.6rem;

    background-color: var(--header-input-back-color);



}

div#app header form div.input-wrapper input::placeholder{
    
    font-family: "Mulish", "Arial";
    font-weight: 600;
    font-size: 1.6rem;

    color: var(--header-input-font-color);

    opacity: 0.56;



}

div#app header img.avatar{
    width: 4.2rem;
    height: 4.2rem;            
}



div#app header img.avatar{
    width: 4.2rem;
    height: 4.2rem;

    /* Caso a imagem fique esticada */

    object-fit: cover; /* A imagem vai cobrir todo o espaço do elemento */
    border-radius: 50%; /* Deixa a imagem redonda */


    /* Caso a imagem fique esticada */

    object-fit: cover; /* A imagem vai cobrir todo o espaço do elemento */
    border-radius: 50%; /* Deixa a imagem redonda */
}



.container{
    padding: 1.6rem 3.2rem;
    width: min(112rem ,100%);
    margin: 0 auto;
    
}



/* Galery */
main{
    /* Chamando a nossa variável CSS */
    background-color: var(--main-back-color);

    /* Controla o trasbordamento de conteúdo no eixo vertical */
    overflow-y: scroll;

    
}

main div.container h1{
    font-size: 2.4rem;
    padding: 1.6rem 0 0;
    
}


div.container section.galery-container{

    margin-top: 3.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

}

 figure{
    width:100%;
 }
  
  

   






























footer p{
    text-align: center;
    padding: 1.6rem;

    font-weight: 600;
}
