*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Vendor prefixes para suavizar as fontes do projeto */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-family: "Source Serif Pro";
    /* Valor relativo a 16px | 1REM == 10px */
    font-size: 62.5%;
}


body{
    min-height: 100vh;

    font-size: 1.6rem;

    color: #A54328 ;

    padding: 5.4rem 3.8rem;
    
    
}


main {
    max-width: 320px;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    
}



main div.cheesecake img{
    width: 100%;
    margin-block: 3.4rem;
}


 main div.cheesecake h1 , main div.recipe h2{
    /* Clamp (Valor minimo , valor ideal , valor máximo) */
    font-size: clamp(2.8rem, 2vw + 1rem , 4rem);
    font-weight: bold;
    line-height: clamp(3.6rem, 2vw + 1rem , 5rem)
}

main div.recipe h2{
    margin: 0 0 3.4rem;
}

main div.recipe ul{
    margin: 0 0 2.4rem;
}

main div.recipe ul, div.recipe ol{
    padding-left: 2.8rem;
}




main p,
li, h3{
    font-size: 1.4rem;
    
}

button#btn-report{

    padding: 0.8rem 1.2rem;
    margin-top: 3.2rem;

    border: none;
    border-radius: 0.6rem;

    background: #A54328;
    cursor: pointer;
    
    font-family: "Source Serif 4";
    color: #FFFFFF;
}



@media(min-width:1124px){
    body{
        background-image: url(./assets/img/old-paper-texture-beige-craft-cardboard-vintage-canvas-surface\ 1.png);
        padding: 9.4rem;
        font-size: 2rem;
    }

    main{
        max-width: fit-content; /*Ajusta o tamanho do nosso elemento conforme o conteúdo presente, sem deixar ultrapassar o limite definido*/
        flex-direction: row;
        justify-content: space-around;
        gap: 18.4rem;
    }
    

    main div.cheesecake {
        max-width: 435px;
    }

    /* main div.cheesecake h1, main div.recipe h2{
        font-size: 4.0rem;
        line-height: 5rem;
    } */

    main div.cheesecake img {
        max-width: 410px;
    }
    main div.cheesecake p , 
    div.items ul li , 
    div.prepare-mode ol li {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    main div.recipe {
        max-width: 525px;
        
    }

    button#btn-report{

        padding: 1rem 2rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    
        
    }



    
}