*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5%;
	
	--ff-primary: "Poppins", sans-serif;
	--text-color: #303030;

	--hue:194;
	--primary-color: hsl(var(--hue), 100% , 63%)

}

body {
    font-size: 1.6rem;
	color: var(--text-color);
}

body *{
	font-family: var(--ff-primary);
}


.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	/* Não deixa transbordar */
	overflow: hidden;
	/* Zera a largura das bordas, caso o elemento tenha */
	border-width: 0;
	/* Não permite a quebra de linha */
	white-space: nowrap;
	/* Força a criação de uma caixa com as medias 0,0,0,0 */
	clip: rect(0,0,0,0);

}

div#app{
	max-width: 50rem;
	margin: 0 auto;
	padding: 2rem;
	height: 100vh;
}

div#app header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	margin: 2.5rem 0;


}
div#app header h1{

	font-size: 2rem;
	text-transform: uppercase;
}

header div.search-input{
	display: flex;
	align-items: center;
}

div.search-input input{
	height: 3.2rem;
	border: 1px solid #ccc;
	border-radius: .4rem 0 0 .4rem;

	padding: 0 .8rem;
}

div.search-input button{
	height: 3.2rem;

	padding: 0 1rem;

	background-color: var(--primary-color);

	border-radius: 0 0.4rem .4rem 0;
	border: none;

	cursor: pointer;

	transition: 0.5s ease;


}

div.search-input button:hover{
	filter: brightness(.9);
}

table{
	width: 100%;
	border-collapse: collapse;
}

table *{
	font-size: 1.4rem;
	color: var(--text-color);
}

table th{
	background-color: var(--primary-color);
	text-align: left;
	font-weight: normal;
	padding: 1.5rem;
	
}

table th:first-child{
	
	border-top-left-radius: .8rem;
	
}

table th:last-child{

	border-top-right-radius: .8rem;

}

table tr{
	background-color: #eee;
}

table tr:nth-child(odd){
	background-color: #ddd;
}

table td {
	padding: 1.5rem;
	text-align: left;
}

table td.user {
	display: flex;
	align-items: center;
	gap: 1rem;
}

table td.user {
	display: flex;
	align-items: center;
	gap: 1rem;
}

td.user img{
	width: 5rem;
	height: 5rem;

	border-radius: 50%;
	object-fit: cover;
}


