*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5%;
	
	--ff-primary: "Poppins", sans-serif;
	--text-color: #303030;

	--hue:194;
	--primary-color: hsl(var(--hue), 100% , 63%)

}

body {
    font-size: 1.6rem;
	color: var(--text-color);
}

body *{
	font-family: var(--ff-primary);
}


.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	/* Não deixa transbordar */
	overflow: hidden;
	/* Zera a largura das bordas, caso o elemento tenha */
	border-width: 0;
	/* Não permite a quebra de linha */
	white-space: nowrap;
	/* Força a criação de uma caixa com as medias 0,0,0,0 */
	clip: rect(0,0,0,0);

}

div#app{
	max-width: 60rem;
	margin: 0 auto;
	padding: 2rem;
	height: 100vh;
}

div#app header{
	display: flex;
	align-items: center;
	justify-content: space-between;

	gap: 2rem;
}

button{
	background-color: var(--primary-color);
}


