*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Vendor prefixes - Beatiful Fonts */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Css Variables */
    --root-font-size       : 62.5%;

    --root-bg-color        : #000000;
    --root-bg-color-input  : #06181C;
    --root-btn-bg-color    : #065E7C;
    --root-th-bg-color     : #092D38;
    --root-odd-bg-color    : hsl(194, 64%, 6%);
    --root-even-bg-color   : #06181C;
    --root-hover-row       : rgba(6, 22, 27, 0.5);

    
    --root-constrast-color : #ffff;
    --root-no-fav-color    : #4E5455;
    --root-tb-color        : #4A808C;
    --root-btn-del-color   : #F75A68;
} 

:root{
    font-size: var(--root-font-size);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body *{
    font-size: 1.6rem;
} 

.sr-only{
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    /* Zera a largura das bordas, caso o elemento tenha */
	border-width: 0;
	/* Não permite a quebra de linha */
	white-space: nowrap;
	/* Força a criação de uma caixa com as medias 0,0,0,0 */
	clip: rect(0,0,0,0);
}

div#app{

    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;

    padding: 10rem 16rem 0 16rem;

    background-color: var(--root-bg-color);
}

section.main{

    width: 112rem;

    display: flex;
    flex-direction: column;
    gap: 9.2rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.main-icon{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

header div.main-icon span{

    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 2.4rem;
    color: var(--root-constrast-color);

}

header div.main-input {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    
}

header div.main-input input{

    min-width: 46.2rem;
    padding: 1.6rem;
    
    border: none;
    border-radius: .6rem;

    background-color: var(--root-bg-color-input);
}


header div.main-input button{
        
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1.2rem 3.2rem;

    background-color: var(--root-btn-bg-color);

    border-radius: .6rem;
    border: none;

    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--root-constrast-color);

    cursor: pointer;

    transition: 0.5s ease-in;
}

header div.main-input button i.ph-star{
    font-size: 2.4rem;
}

header div.main-input button:hover{
    color: var(--root-btn-bg-color);
    background-color: var(--root-constrast-color);
}



/* Table github user */

section.git-table{
    color: aliceblue;
    border: 1px solid var(--root-tb-color);
    border-radius: 1.2rem;
    
    /* Deixar com que as bordas da tab não vazem */
    overflow: hidden;
    position: sticky;

}

section.git-table table{
    width: 100%;
    border-collapse: collapse;

}

/* Thead Formatation */

section.git-table table thead th {
    
    padding: 1.6rem 2.4rem 1.6rem 4rem;

    text-align: left;
    
    background-color: var(--root-th-bg-color);

    width: 35%;
    
    


}

thead th.github-user{
    width: 80% !important;
}

/* End thead formatation */


/* Tbody formatation */

 section.git-table table tbody{
    display: block;
    overflow-y: auto;
    max-height: 42rem;
    width: 100%;

    color: var(--root-constrast-color);
    font-weight: bold;

}

section.git-table table tr{
    display: flex;
    transition: 0.2s ease-in;

    border-bottom: 1px solid var(--root-tb-color) ;
}

section.git-table table tr:last-child{
    border: none !important;
}


section.git-table table tbody tr:nth-child(odd){
    background-color: var(--root-odd-bg-color);
}

section.git-table table tbody tr:nth-child(even){
    background-color: var(--root-even-bg-color);
}


section.git-table table tbody tr:hover{
    background-color: var(--root-hover-row);
}

section.git-table table tbody tr td{
    padding: 1.6rem 2.4rem 1.6rem 4rem;
    width: 35%;
    display: flex;
    align-items: center;
}

section.git-table table tbody tr td.user{
    gap: 2rem;
    width: 80%;
}

section.git-table table tbody tr td.user a{
    text-decoration: none;
    color: var(--root-constrast-color);

    display: flex;
    flex-direction: column;
    gap: .8rem;

}
section.git-table table tbody tr td.user span{
    
    font-weight: normal;

}

section.git-table table tbody tr td.user img{

    width: 60px;
    height: 60px;

    border-radius: 50%;

    object-fit: cover;
}

section.git-table table tbody tr button#deleteUser{

    border: none;
    background: none;
    cursor: pointer;

    font-weight: bold;
    color: var(--root-btn-del-color);
}

section.git-table table tbody::-webkit-scrollbar {
    width: 5px;
  }

  section.git-table table tbody::-webkit-scrollbar-thumb {
    background: var(--root-tb-color);
    border-radius: 1.2rem;
    
}


/* End tbody formatation */


/* No user add to Favorites formatation */

section.git-table table tbody tr.no-favs-tr{
    background-color: var(--root-odd-bg-color);
}

section.git-table table tbody tr td.no-fav-td{
    /* Deixe que a td ocupe 100% de linha */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    min-height: 42rem;
}

section.git-table table tbody tr td.no-fav-td h2{
    /* Deixe que a td ocupe 100% de linha */
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    line-height: 24.8rem;

    color: var(--root-no-fav-color);

}

/* End no user add to favorites */










